<div class="header header-fixed header-logo-center">
  <a href="index.html" class="header-title">Litaarafou</a>
  <a href="#" data-back-button="" class="header-icon header-icon-1"><i class="fas fa-arrow-right"></i></a>
  <a href="#" data-toggle-theme="" class="header-icon header-icon-4"><i class="fas fa-lightbulb"></i></a>
</div>

<div class="page-content header-clear-medium">
  <div class="card card-style">
    <div class="content mb-0">
      <h3>بيانات عنك</h3>
      <p>
        اكمل بياناتك, لتجعل شريك حياتك يصل اليك بأسرع وقت :)
      </p>

      <div class="input-style no-borders no-icon mb-4">
        <input type="date" value="2030-12-31" max="2006-01-01" min="1960-01-01" class="form-control validate-text" id="form6a" placeholder="Phone">
        <label for="form6a" class="color-highlight">تاريخ الميلاد</label>
        <i class="fa fa-check disabled valid me-4 pe-3 font-12 color-green-dark"></i>
        <i class="fa fa-check disabled invalid me-4 pe-3 font-12 color-red-dark"></i>
      </div>

      <div class="input-style no-borders no-icon mb-4">
        <label for="nationality" class="color-highlight">الجنسية</label>
        <select id="nationality">
          <option value="default" disabled="" selected="">الجنسية</option>
          <option value="iOS">iOS</option>
          <option value="Linux">Linux</option>
          <option value="MacOS">MacOS</option>
        </select>
        <span><i class="fa fa-chevron-down"></i></span>
        <i class="fa fa-check disabled valid color-green-dark"></i>
        <i class="fa fa-check disabled invalid color-red-dark"></i>
        <em></em>
      </div>
      <div class="input-style no-borders no-icon mb-4">
        <label for="countryOfResidence" class="color-highlight">بلد الإقامة</label>
        <select id="countryOfResidence">
          <option value="default" disabled="" selected="">بلد الإقامة</option>
          <option value="iOS">iOS</option>
          <option value="Linux">Linux</option>
          <option value="MacOS">MacOS</option>
        </select>
        <span><i class="fa fa-chevron-down"></i></span>
        <i class="fa fa-check disabled valid color-green-dark"></i>
        <i class="fa fa-check disabled invalid color-red-dark"></i>
        <em></em>
      </div>
      <div class="input-style no-borders no-icon mb-4">
        <label for="education" class="color-highlight">التعليم</label>
        <select id="education">
          <option value="default" disabled="" selected="">التعليم</option>
          <option value="iOS">iOS</option>
          <option value="Linux">Linux</option>
          <option value="MacOS">MacOS</option>
        </select>
        <span><i class="fa fa-chevron-down"></i></span>
        <i class="fa fa-check disabled valid color-green-dark"></i>
        <i class="fa fa-check disabled invalid color-red-dark"></i>
        <em></em>
      </div>
      <div class="input-style no-borders no-icon mb-4">
        <label for="workSituation" class="color-highlight">حالة العمل</label>
        <select id="workSituation">
          <option value="default" disabled="" selected="">حالة العمل</option>
          <option value="iOS">iOS</option>
          <option value="Linux">Linux</option>
          <option value="MacOS">MacOS</option>
        </select>
        <span><i class="fa fa-chevron-down"></i></span>
        <i class="fa fa-check disabled valid color-green-dark"></i>
        <i class="fa fa-check disabled invalid color-red-dark"></i>
        <em></em>
      </div>
      <div class="input-style no-borders no-icon mb-4">
        <textarea id="form7a" placeholder="Enter your message"></textarea>
        <label for="form7a" class="color-highlight">القليل عنك</label>
        <em class="mt-n3">(required)</em>
      </div>
    </div>

  </div>

</div>
