<div class="header header-fixed header-logo-center">
  <a href="index.html" class="header-title"> مرحبا بك &nbsp;{{this.user?.firstname}}&nbsp; </a>
  <a href="#" data-back-button="" class="header-icon header-icon-1"><i class="fas fa-arrow-right"></i></a>
  <a href="#" data-toggle-theme="" class="header-icon header-icon-4"><i class="fas fa-lightbulb"></i></a>
</div>

<div class="page-content header-clear-medium">
  <div class="card card-style">
    <div class="content mb-0">
      <form [formGroup]="signupForm"  (ngSubmit)="onNext()">
        <h3>بيانات عنك</h3>
        <p>
          اكمل بياناتك, لتجعل شريك حياتك يصل اليك بأسرع وقت :)
        </p>

        <div class="input-style no-borders no-icon mb-4">
          <input type="date" formControlName="birthday" value="2030-12-31" max="2006-01-01" min="1960-01-01" class="form-control validate-text" id="birthday" placeholder="تاريخ الميلاد">
          <label for="birthday" class="color-highlight">تاريخ الميلاد</label>
          <i class="fa fa-check disabled valid me-4 pe-3 font-12 color-green-dark"></i>
          <i class="fa fa-check disabled invalid me-4 pe-3 font-12 color-red-dark"></i>
        </div>

        <div class="input-style no-borders no-icon mb-4">
          <label for="nationality" class="color-highlight">الجنسية</label>
          <select id="nationality">
            <option value="default" disabled="" selected="">الجنسية</option>
            <option value="iOS">iOS</option>
            <option value="Linux">Linux</option>
            <option value="MacOS">MacOS</option>
          </select>
          <span><i class="fa fa-chevron-down"></i></span>
          <i class="fa fa-check disabled valid color-green-dark"></i>
          <i class="fa fa-check disabled invalid color-red-dark"></i>
          <em></em>
        </div>
        <div class="input-style no-borders no-icon mb-4">
          <label for="countryOfResidence" class="color-highlight">بلد الإقامة</label>
          <select id="countryOfResidence">
            <option value="default" disabled="" selected="">بلد الإقامة</option>
            <option value="iOS">iOS</option>
            <option value="Linux">Linux</option>
            <option value="MacOS">MacOS</option>
          </select>
          <span><i class="fa fa-chevron-down"></i></span>
          <i class="fa fa-check disabled valid color-green-dark"></i>
          <i class="fa fa-check disabled invalid color-red-dark"></i>
          <em></em>
        </div>
        <div class="input-style no-borders no-icon mb-4">
          <label for="education" class="color-highlight">المستوى الدراسي</label>
          <select id="education" formControlName="educationLevel">
            <option value="default" [disabled]="true" [selected]="true">المستوى الدراسي</option>
            <option value="BAC_OR_LESS">شهادة ثانوية او أقل</option>
            <option value="UNIVERSITY">شهادة جامعية</option>
            <option value="NONE">لم أدرس</option>
          </select>
          <span><i class="fa fa-chevron-down"></i></span>
          <i class="fa fa-check disabled valid color-green-dark"></i>
          <i class="fa fa-check disabled invalid color-red-dark"></i>
          <em></em>
        </div>
        <div class="input-style no-borders no-icon mb-4">
          <label for="workSituation" class="color-highlight">حالة العمل</label>
          <select id="workSituation" formControlName="workSituation" >
            <option value="" [disabled]="true" [selected]="true">حالة العمل</option>
            <option value="EMPLOYEE">موظف</option>
            <option value="FREELANCER">عمل حُر</option>
            <option value="BUSINESSMAN">رجل أعمال</option>
            <option value="UNEMPLOYED">لا أعمل</option>
          </select>
          <span><i class="fa fa-chevron-down"></i></span>
          <i class="fa fa-check disabled valid color-green-dark"></i>
          <i class="fa fa-check disabled invalid color-red-dark"></i>
          <em></em>
        </div>
        <div class="input-style no-borders no-icon mb-4">
          <label for="healthSituation" class="color-highlight">ما هي حالتك الصحية؟</label>
          <select id="healthSituation" formControlName="healthSituation">
            <option value=""  [disabled]="true" [selected]="true">الحالة الصحية</option>
            <option value="NORMAL">سليم</option>
            <option value="SKIN_DISEASE">أعاني من مشكل صحي</option>
          </select>
          <span><i class="fa fa-chevron-down"></i></span>
          <i class="fa fa-check disabled valid color-green-dark"></i>
          <i class="fa fa-check disabled invalid color-red-dark"></i>
          <em></em>
        </div>
        <div class="input-style no-borders no-icon mb-4">
          <label for="religion" class="color-highlight">ما علاقتك مع الدين الإسلامي؟</label>
          <select id="religion" formControlName="religion" >
            <option value="" [disabled]="true" [selected]="true">علاقتك مع الدين الإسلامي</option>
            <option value="RELIGIOUS">متدين</option>
            <option value="COMMITTED_TO_RELIGION">ملتزم</option>
            <option value="NOT_VERY_RELIGIOUS">متوسط التدين</option>
            <option value="NOT_AT_ALL">غير مهتم بالدين</option>
          </select>
          <span><i class="fa fa-chevron-down"></i></span>
          <i class="fa fa-check disabled valid color-green-dark"></i>
          <i class="fa fa-check disabled invalid color-red-dark"></i>
          <em></em>
        </div>
        <button type="submit" [disabled]="!isValid" href="#" data-menu="menu-tour-1" class="btn btn-m btn-full mb-3 rounded-xl text-uppercase font-900 shadow-s bg-green-dark submit">التالي</button>
      </form>
    </div>

  </div>

</div>
