<div class="header header-fixed header-logo-center">
  <a href="index.html" class="header-title">Sticky Mobile</a>
  <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-right"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-4"><i class="fas fa-lightbulb"></i></a>
</div>

<div class="page-content header-clear-medium">
  <div class="card card-style">
    <a data-menu="settings-pane" href="#" class="d-flex m-3">
      <div><img data-src="images/pictures/faces/1s.png" src="images/empty.png" class="me-3 rounded-circle shadow-l preload-img" width="60"></div>
      <div>
        <h3 class="mt-2 mb-0 font-700">Johnatan Doe</h3>
        <p class="font-12 mt-n1 mb-0 pb-0">iOS Styled Settings Menu.</p>
      </div>
      <div class="ms-auto mt-3 pt-1"><i class="fa fa-chevron-left color-theme opacity-30"></i></div>
    </a>
  </div>


  <div class="card card-style">
    <div class="content my-0">
      <div class="list-group list-custom-small">
        <a data-toggle-theme="" data-trigger-switch="switch-21" href="#">
          <i class="fa font-14 fa-lightbulb rounded-s bg-yellow-dark"></i>
          <span>Dark Mode</span>
          <div class="custom-control scale-switch ios-switch">
            <input data-toggle-theme="" type="checkbox" class="ios-input" id="switch-21">
            <label class="custom-control-label" for="switch-21"></label>
          </div>
          <i class="fa fa-chevron-left opacity-30"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="card card-style">
    <div class="content my-0">
      <button (click)="authService.logout()" href="#" data-menu="menu-tour-1" class="btn btn-m btn-full mb-3 rounded-xl text-uppercase font-900 shadow-s bg-green-dark submit logout-button">تسجيل الخروج</button>
    </div>
  </div>



</div>
