<div class="page-content header-clear-medium">
  <div class="card card-style">
    <div class="content mb-0">
      <h1 class="text-center"><i class="fa fa-question-circle fa-3x color-highlight mt-2"></i></h1>
      <h1 class="pt-3 mt-2 text-center font-800 font-40 mb-1">Forgot</h1>
      <p class="text-center color-highlight font-11">Recover your Account</p>
      <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
        <div class="input-style has-icon validate-field">
          <i class="fa fa-at"></i>
          <input type="email" class="form-control validate-text" id="email" [(ngModel)]="email" name="email" placeholder="الإيميل">
          <label for="email" class="color-highlight">الإيميل</label>
          <i class="fa fa-times invalid color-red-dark disabled"></i>
          <i class="fa fa-check disabled valid color-green-dark"></i>
          <em>(required)</em>
        </div>
        <div class="d-flex mt-4">
          <div class="w-50 font-11 pb-2 text-start"><a [routerLink]="['/login']">تسجيل الدخول</a></div>
          <div class="w-50 font-11 pb-2 text-end"><a [routerLink]="['/signup']">إنشاء حساب جديد</a></div>
        </div>
        <a href="#" class="btn btn-m my-3 btn-full rounded-sm bg-highlight text-uppercase font-900">استرجاع الحساب</a>
      </form>
    </div>
  </div>
</div>
