<div id="footer-bar" class="footer-bar-1">
  <a href="index.html" class="active-nav"><i class="fa fa-home"></i><span>Home</span></a>
  <a [routerLink]="['/home']"><i class="fa fa-star"></i><span>Features</span></a>
  <a [routerLink]="['/home']" ><i class="fa fa-heart"></i><span>Pages</span></a>
  <a [routerLink]="['/home']"><i class="fa fa-search"></i><span>Search</span></a>
  <a [routerLink]="['/home']" data-menu="menu-settings"><i class="fa fa-cog"></i><span>Settings</span></a>
</div>
<div class="page-content header-clear">
  <div class="card bg-29" data-card-height="350" style="margin-bottom: -50px; height: 350px;">
    <div class="card-bottom mx-3 mb-5 pb-3">
      <h1 class="color-white mb-2 font-40">لتعارفوا</h1>
      <p class="color-white opacity-80 mb-0">
        يَٰٓأَيُّهَا ٱلنَّاسُ إِنَّا خَلَقْنَٰكُم مِّن ذَكَرٍۢ وَأُنثَىٰ وَجَعَلْنَٰكُمْ شُعُوبًا وَقَبَآئِلَ لِتَعَارَفُوٓاْ
      </p>
    </div>
    <div class="card-overlay bg-black opacity-20"></div>
    <div class="card-overlay bg-gradient py-5"></div>
  </div>
  <a [routerLink]="['/home']">
    <div class="card card-style mb-2">
      <div class="d-flex">
        <div class="ps-3 ms-2 align-self-center">
          <h1 class="pt-4 font-22">Mobile Website and PWA</h1>
          <p class="font-11 opacity-70 mt-n2 mb-4">Your website at your fingertips </p>
        </div>
        <div class="ms-auto me-4 align-self-center">
          <i class="fas fa-mobile color-red-dark fa-3x mt-4 mb-4 me-1"></i>
        </div>
      </div>
    </div>
  </a>
  <a [routerLink]="['/home']">
    <div class="card card-style mb-2">
      <div class="d-flex">
        <div class="ps-3 ms-2 align-self-center">
          <h1 class="pt-4 font-22">Top Notch Support</h1>
          <p class="font-11 opacity-70 mt-n2 mb-4">Always here for your every need </p>
        </div>
        <div class="ms-auto me-4 align-self-center">
          <i class="fas fa-life-ring color-green-dark fa-3x mt-4 mb-4 me-1"></i>
        </div>
      </div>
    </div>
  </a>
  <a [routerLink]="['/home']">
    <div class="card card-style">
      <div class="d-flex">
        <div class="ps-3 ms-2 align-self-center">
          <h1 class="pt-4 font-22">Best Mobile Author</h1>
          <p class="font-11 opacity-70 mt-n2 mb-4">We are the #1 Mobile Author on Envato </p>
        </div>
        <div class="ms-auto me-4 align-self-center">
          <i class="fas fa-trophy color-yellow-dark fa-3x mt-4 mb-4 me-1"></i>
        </div>
      </div>
    </div>
  </a>
</div>
